#header
{
	background-color: pink;
	display: flex;
	justify-content: flex-end;
	padding-right: 30px;
	padding-top: 20px;
	font-size: 15px;
}

#center
{
	background-color: red;
	text-align: -webkit-center;


}

#footerleft
{
	background-color: yellow;
	margin: 0px;
	font-size: 15px;
	padding-left: 25px;



}
#container
{
background-color: green;
display: flex;
height: 100%;
flex-direction: column;
justify-content: space-between;
}
*
{
	margin: 0px;
	padding: 0px;
}
html, body
{
	background-color: purple;
	height: 100%;
}
.buttons
{
	height: 30px;
	font-size: 15px;
	width: 170px;
}
#logo img
{
	height: auto;
	width: 330px;
	padding-bottom: 25px;
}
#navbar
{
	padding-bottom: 25px;
}
#navbar input
{
	width: 550px;
	height: 30px;
}
#button1
{
	background-color: rgb(65, 134, 229);
	color: #fff;
}
a
{
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
	color: black;
}
#footerright
{
	display: flex;
	justify-content: flex-end;
}